doctype html
html(lang="en")
    head
        title= pageTitle
        link(href="includes/css/style.css", rel="stylesheet")
        link(href="includes/fonts/raleway/raleway.css" rel="stylesheet")
        link(href="includes/fonts/lato/css/lato.min.css" rel="stylesheet")
    body
        #update-status
            p.
                Last updated on March 21, 2016
        .heading
            h1 #[span Debarghya] Das
            h3 #[a(href="#") debarghyadas.com] | #[a(href="#") fb.co/dd]
            h3 #[a(href="#") deedy@fb.com | 607.379.5733 | dd367@cornell.edu]
        hr
        .content
            .left-column
                h1 Education
                h2 Cornell University
                h3 MEng in Computer Science
                h4 Dec 2014 | Ithaca, NY
                br
                h2 Cornell University
                h3 BS in Computer Science
                h4 May 2014 | Ithaca, NY
                p College of Engineering
                p Magna Cum Laude
                p.lead Cum. GPA: 3.83/4.0
                p.lead Major GPA: 3.9/4.0
                br
                h2 La Martiniere for Boys
                h4 Grad. May 2011| Kolkata, India
                
                h1 Links
                ul.nostyle
                    li #[span Facebook: #[a(href="#") dd]]
                    li #[span GitHub: #[a(href="#") deedydas]]
                    li #[span LinkedIn: #[a(href="#") debarghyadas]]
                    li #[span YouTube #[a(href="#") DeedyDash007]]
                    li #[span Twitter #[a(href="#") @debarghya_das]]
                    li #[span Quora: #[a(href="#") Debarghya-Das]]
                
                h1 Coursework
                h2 Graduate
                p Advanced Machine Learning
                p Open Source Sofware Engineering
                p Advanced Interactive Graphics
                p Compilers + Practicum
                p Cloud Computing
                p Evolutionary Computation
                p Defending Computer Networks
                p Machine Learning
                
                h2 Undergraduate
                p Information Retrieval
                p Operating Systems
                p Artificial Intelligence + Practicum
                p Functional Programming
                p Computer Graphics + Practicum
                p.italic.bold (Research Asst. & Teaching Asst 2x)
                p Unix Tools and Scripting
                    
                h1 Skills
                h2 Programming
                h4.no-overlap Over 5000 lines
                ul.inline
                    li #[span Java]
                    li #[span Shell]
                    li #[span Python]
                    li #[span Javascript]
                    li #[span OCaml]
                    li #[span Matlab]
                    li #[span Rails]
                    li #[span LaTeX]
                
                .clearfix
                
                h4.no-overlap Familiar
                ul.inline
                    li #[span AS3]
                    li #[span iOS]
                    li #[span Android]
                    li #[span MySQL]
            //////////////////////
            // Left Column ends //
            //////////////////////
            .right-column
                h1 Experience
                
                h2 Facebook | #[span Software Engineer]
                h3 Jan 2015 - Present | New York, NY
                br
                h2 Coursera | #[span KPCB Fellow + Software Engineering Intern]
                h3 June 2014 - Sep 2014 | Mountain View, CA
                ul.tester
                    li 52 out of 2500 applicants chosen to be a KPCB Fellow 2014
                    li Led and shipped Yoda - the admin interface for the new Phoenix platform
                    li. 
                        Full-stack developer - Wrote and reviewed code for JS
                        using Backbone, Jade, Stylus and Require and Scala using Play
                    
                h2 Google | #[span Software Engineering Intern]
                h3 May 2013 - Aug 2013 | Mountain View, CA
                ul.tester
                    li.
                        Worked on the YouTube Captions team, in Javascript and Python to plan
                        design and develop the full stack to add and edit Automatic Speech
                        Recognition captions. In Production.
                    li.
                        Created a backbone.js-like framework for the Captions editor.
                
                h2 Phabricator | #[span Open Source Contributor & Team Leader]
                h3 Jan 2013 - May 2013 | Palo Alto, CA & Ithaca, NY
                ul.tester
                    li.
                        Phabricator is used daily by Facebook, Dropbox, Quora, Asana
                        and more
                    li.
                        I created the Meme Generator and more in PHP and Shell
                    li.
                        Led a team from MIT, Cornell, IC London and UHelsinki for the
                        project
                    
                h1 Research
                h2 Cornell Robot Learning Lab | #[span Researcher]
                h3 Jan 2014 - Jan 2015 | Ithaca, NY
                p.
                    Worked with Ashesh Jain and Prof Ashutosh Saxena to create PlanIt,
                    a tool which learns from large scale preference feedback to plan
                    robot trajectories in human environments
                br
                h2 Cornell Phonetics Lab | #[span Head Undergraduate Researcher]
                h3 May 2012 - May 2013 | Ithace, NY
                p.
                    Led the development of QuickTongue, the first ever breakthrough
                    tongue-controlled game with Prof Sam Tilsen to aid in Linguistics
                    research
                
                h1 Awards
                table(cellspacing="0", cellpadding="0")
                    tbody
                        tr
                            td 2014
                            td Top 52/2500
                            td KPCB Engineering Fellow
                        tr
                            td 2014
                            td 1 #[sup st]/50
                            td Microsoft Coding Competition, Cornell
                        tr
                            td 2013
                            td National
                            td Jump Trading Challenge Finalist
                        tr
                            td 2013
                            td 7 #[sup th]/120
                            td CS 3410 Cache Race Bot Tournament
                        tr
                            td 2012
                            td 2 #[sup nd]/150
                            td CS 3110 Biannual Intra-Class Bot Tournament
                        tr
                            td 2012
                            td National
                            td Indian National Mathematics Olympiad(INMO) Finalist
                h1 Publications
                ol.publications-list
                    li.
                        A. Jain, D.Das and A.Saxena. Planit: A crowdsourcing approach
                        for learning to plan paths from large scale preference
                        feedback. #[span.italic Tech Report, ICRA, in press]
                    li.
                        S. TIlsen, D.Das, and B.McKee. Real-time articulatory
                        biofeedback with electromagnetic articulography.
                        #[span.italic Linguistics Vanguard, in press.]
