doctype html
html(lang="en")
    head
        title= pageTitle
        link(href="includes/css/style.css", rel="stylesheet")
        link(href="includes/fonts/raleway/raleway.css" rel="stylesheet")
        link(href="includes/fonts/lato/css/lato.min.css" rel="stylesheet")
    body
        .heading
            h1 #[span Ankit] Sultana
            h3: a(href="https://ankitsultana.me") ankitsultana.me
            h3 #[a(href="mailto:ankitsultana@gmail.com") ankitsultana@gmail.com | f2014070@pilani.bits-pilani.ac.in]
        hr
        .content
            .left-column
                h1 College
                h2 BITS Pilani, Pilani
                h3 B.E in COMPUTER SCIENCE
                h4 Sophomore | Expected May: 2018
                
                h1 High School
                h2 Narayana JEE Academy
                ul
                    li #[span Ranked 674 in JEE Advanced 2014]
                    li #[span Qualified KVPY in 2012]
                    li #[span Passed Standard 12 with 92.00%]
                h2 DPS, BHOPAL
                ul
                    li #[span Passed Standard 10 with CGPA: 10]
                
                h1 Links
                ul.nostyle
                    li #[span LinkedIn #[a(href="https://quora.com/Ankit-Sultana") Ankit-Sultana]]
                    li #[span Quora #[a(href="https://quora.com/Ankit-Sultana") Ankit-Sultana]]
                    li #[span Facebook #[a(href="https://facebook/ankitsultana10") ankitsultana10]]
                    li #[span Google+ #[a(href="https://google.com") ankitsultana10]]
                
                h1 Links (Code)
                ul.nostyle
                    li #[span LinkedIn #[a(href="https://quora.com/Ankit-Sultana") Ankit-Sultana]]
                    li #[span Quora #[a(href="https://quora.com/Ankit-Sultana") Ankit-Sultana]]
                    li #[span Facebook #[a(href="https://facebook/ankitsultana10") ankitsultana10]]
                    li #[span Google+ #[a(href="https://google.com") ankitsultana10]]
                    li #[span SPOJ #[a(href="https://google.com") ankitsultana10]]
                    
                h1 Skills
                h2 Programming
                h4 Profecient
                ul.inline
                    li #[span C99]
                    li #[span C++]
                    li #[span Python]
                    li #[span Javascript]
                    li #[span VimL]
                
                .clearfix
                
                h4 Moderate
                ul.inline
                    li #[span Java]
                    li #[span C#]
                    li #[span Ruby]
                    li #[span LaTeX]
                    li #[span HTML]
                    li #[span CSS]
                .clearfix
                
                h1 Hobbies
                h2 Blogging
                ul.nostyle.circle
                    li #[span Blog hosted on GitHub]
                    li #[span Made using Jekyll]
                    li #[span Runs on Custom Made Theme]
                
                h2 Guitar
                ul.nostyle.circle
                    li #[span Experience of more than 7 years]
            //////////////////////
            // Left Column ends //
            //////////////////////
            .right-column
                h1 Sport Programming
                
                h2 ACM ICPC | #[span Asia Amritapuri 2015]
                ul.tester
                    li Ranked 79 out of 1500+ teams in online round | Team: Carpe Noctem
                    li Participated in Amritapuri Regional held in December 2015
                h2 Annual Contests | #[span Performance in Annual Contests]
                ul.tester
                    li Morgan Stanley Codeathon 2015: Finished 31 out of more than 4k participants
                    li CodeAgon 2015: Finished 131 out of more than 4.4k participants
                    
                h2 Codeforces | #[span Rated blue]
                ul.tester
                    li Maximum Rating: 1820 | Handle: bk2dcradle
                    li Best Contest Rank: 80 | Participants: 4k+
                
                h2 Other Websites | #[span Practice Regularly]
                ul.tester
                    li TopCoder: Absolute Rating: 1261 | Rated: Blue | Handle: bk2dcradle
                    li CodeChef: Short Contest Rank (National): 616 | Handle: ankit1s10_3
                    li SPOJ: Absolute Rank: 624 | Handle: bk2dcradle
                
                h1 Projects
                
                h2 Accent | #[span A theme for Jekyll]
                ul.tester
                    li Made a theme for Jekyll using SASS
                    li Accent is the second theme I have made, the first one was Chaplin
                
                h2 Reddit New tab | #[span Chrome/Firefox Extension]
                ul.tester
                    li Made a Chrome-Firefox Extension that displays posts from Subreddits of users choice
                    li Chrome:reddit-new-tab
                    li GitHub:reddit-new-tab
                
                h2 Coding Calendar | #[span Static Website]
                ul.tester
                    li A webpage that displays the list of upcoming programming contests
                    li Used standard style Javascript
                    li Website: codingcalendar.com
                
                h2 Subtitle Downloader | #[span OS X Service]
                ul.tester
                    li Wrote a Python Script to download subtitles for a movie file using the thesubdb API
                    li Then created a service using Automator
                    li Website: subtitle-downloader
                
