// Port of the awesome xetex resume template by Debarghya Das
// Jade Template
// Author: Ankit Sultana
// Original Repo: https://github.com/bk2dcradle/jade-resume
// License: GNU GPL v3

doctype html
html(lang="en")
    head
        title= 'Jade Resume'
        link(href="includes/css/style.css", rel="stylesheet")
        // Link to the corresponding fonts
        // Font: Raleway | https://github.com/mrkelly/lato.git
        link(href="includes/fonts/raleway/raleway.css" rel="stylesheet")
        // Font: Lato | https://github.com/softwaymedical/raleway.git
        link(href="includes/fonts/lato/css/lato.min.css" rel="stylesheet")
    body
        #update-status
            p.
                Last updated on March 21, 2016
        // Things above the horizontal rule
        .heading
            h1 #[span Debarghya] Das
            h3 #[a(href="#") debarghyadas.com] | #[a(href="#") fb.co/dd]
            h3 #[a(href="#") deedy@fb.com | 607.379.5733 | dd367@cornell.edu]
        hr
        .content
            ////////////////////////
            // Left Column begins //
            ////////////////////////
            .left-column
                ///////// Begin Section: Education /////////
                h1 Education
                // Begin Subsection
                h2 Cornell University
                h3 MEng in Computer Science
                h4 Dec 2014 | Ithaca, NY
                // Space between two subsections
                br
                // Begin Subsection
                h2 Cornell University
                h3 BS in Computer Science
                h4 May 2014 | Ithaca, NY
                p College of Engineering
                p Magna Cum Laude
                p.lead Cum. GPA: 3.83/4.0
                p.lead Major GPA: 3.9/4.0
                br
                // Begin Subsection
                h2 La Martiniere for Boys
                h4 Grad. May 2011| Kolkata, India
 
                ///////// Begin Section: Links /////////
                h1 Links
                // List follows
                ul.links
                    li Facebook://#[a(href="#") dd]
                    li GitHub://#[a(href="#") deedydas]
                    li LinkedIn://#[a(href="#") debarghyadas]
                    li YouTube://#[a(href="#") DeedyDash007]
                    li Twitter://#[a(href="#") @debarghya_das]
                    li Quora://#[a(href="#") Debarghya-Das]
                
                ///////// Begin Section: Coursework /////////
                h1 Coursework
                // Begin Subsection
                h2 Graduate
                p Advanced Machine Learning
                p Open Source Sofware Engineering
                p Advanced Interactive Graphics
                p Compilers + Practicum
                p Cloud Computing
                p Evolutionary Computation
                p Defending Computer Networks
                p Machine Learning
                
                // Begin Subsection
                h2 Undergraduate
                p Information Retrieval
                p Operating Systems
                p Artificial Intelligence + Practicum
                p Functional Programming
                p Computer Graphics + Practicum
                p.italic.bold (Research Asst. & Teaching Asst 2x)
                p Unix Tools and Scripting
                
                ///////// Begin Section: Skills /////////
                h1 Skills
                // Begin Subsection
                h2 Programming
                // Use h4 with no overlap for the corresponding list to not
                // overlap with the h4
                h4.no-overlap Over 5000 lines
                // Note: Use span with li elements so the bullets can be closer
                //       than the browser default value. Refer:
                //       http://stackoverflow.com/questions/4373046/css-control-space-between-bullet-and-li
                ul.inline
                    li #[span Java]
                    li #[span Shell]
                    li #[span Python]
                    li #[span Javascript]
                    li #[span OCaml]
                    li #[span Matlab]
                    li #[span Rails]
                    li #[span LaTeX]
                
                .clearfix
                
                h4.no-overlap Familiar
                ul.inline
                    li #[span AS3]
                    li #[span iOS]
                    li #[span Android]
                    li #[span MySQL]
            ////////////////////////
            /// Left Column ends ///
            ////////////////////////
            // Right Column Begins//
            ////////////////////////
            .right-column
                ///////// Begin Section: Experience /////////
                h1 Experience
                // Begin Subsection
                h2 Facebook | #[span Software Engineer]
                h3 Jan 2015 - Present | New York, NY
                // Space between subsections, in case if they are too close
                br
                // Begin Subsection
                h2 Coursera | #[span KPCB Fellow + Software Engineering Intern]
                h3 June 2014 - Sep 2014 | Mountain View, CA
                ul
                    li 52 out of 2500 applicants chosen to be a #[a(href="#") KPCB] Fellow 2014
                    li Led and shipped Yoda - the admin interface for the new Phoenix platform
                    li. 
                        Full-stack developer - Wrote and reviewed code for JS
                        using Backbone, Jade, Stylus and Require and Scala using Play
                // Begin Subsection
                h2 Google | #[span Software Engineering Intern]
                h3 May 2013 - Aug 2013 | Mountain View, CA
                ul
                    li.
                        Worked on the YouTube Captions team, in Javascript and Python to plan
                        design and develop the full stack to add and edit Automatic Speech
                        Recognition captions. In Production.
                    li.
                        Created a backbone.js-like framework for the Captions editor.
                // Begin Subsection
                h2 Phabricator | #[span Open Source Contributor & Team Leader]
                h3 Jan 2013 - May 2013 | Palo Alto, CA & Ithaca, NY
                ul
                    li.
                        Phabricator is used daily by Facebook, Dropbox, Quora, Asana
                        and more
                    li.
                        I created the Meme Generator and more in PHP and Shell
                    li.
                        Led a team from MIT, Cornell, IC London and UHelsinki for the
                        project
                ///////// Begin Section: Research /////////
                h1 Research
                // Begin Subsection
                h2 Cornell Robot Learning Lab | #[span Researcher]
                h3 Jan 2014 - Jan 2015 | Ithaca, NY
                p.
                    Worked with #[a(href="#") Ashesh Jain] and #[a(href="#") Prof Ashutosh Saxena] to create PlanIt,
                    a tool which learns from large scale preference feedback to plan
                    robot trajectories in human environments
                br
                // Begin Subsection
                h2 Cornell Phonetics Lab | #[span Head Undergraduate Researcher]
                h3 May 2012 - May 2013 | Ithace, NY
                p.
                    Led the development of QuickTongue, the first ever breakthrough
                    tongue-controlled game with Prof Sam Tilsen to aid in Linguistics
                    research
                ///////// Begin Section: Awards /////////
                h1 Awards
                table(cellspacing="0", cellpadding="0")
                    tbody
                        tr
                            td 2014
                            td Top 52/2500
                            td KPCB Engineering Fellow
                        tr
                            td 2014
                            td 1 #[sup st]/50
                            td Microsoft Coding Competition, Cornell
                        tr
                            td 2013
                            td National
                            td Jump Trading Challenge Finalist
                        tr
                            td 2013
                            td 7 #[sup th]/120
                            td CS 3410 Cache Race Bot Tournament
                        tr
                            td 2012
                            td 2 #[sup nd]/150
                            td CS 3110 Biannual Intra-Class Bot Tournament
                        tr
                            td 2012
                            td National
                            td Indian National Mathematics Olympiad(INMO) Finalist
                ///////// Begin Section: Publications /////////
                h1 Publications
                ol.publications-list
                    li.
                        #[a(href="#") A. Jain], #[a(href="#") D.Das] and #[a(href="#") A.Saxena]. Planit: A crowdsourcing approach
                        for learning to plan paths from large scale preference
                        feedback. #[span.italic Tech Report, ICRA, in press]
                    li.
                        S. TIlsen, D.Das, and B.McKee. Real-time articulatory
                        biofeedback with electromagnetic articulography.
                        #[span.italic Linguistics Vanguard, in press.]
                ////////////////////////
                /// Right Column Ends //
                ////////////////////////
