doctype html
html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript').
            if (foo) {
                bar(1 + 5)
            }
        link(href="includes/css/style.css", rel="stylesheet")
    body
        .heading
            h1 #[span.lighten Ankit] Sultana
            h3 #[a(href="https://ankitsultana.me") ankitsultana.me]
            h3 #[a(href="mailto:ankitsultana@gmail.com") ankitsultana@gmail.com]
        hr
        .content
            .left-column
                h1 College
                h2 BITS Pilani, Pilani
                h3 B.E in Computer Science
                
                h1 High School
                h2 Narayana JEE Academy
                ul
                    li #[span Ranked 674 in JEE Advanced 2014]
                    li #[span Qualified KVPY in 2012]
                    li #[span Passed Standard 12 with 92.00%]
                h2 DPS, BHOPAL
                ul
                    li #[span Passed Standard 10 with CGPA: 10]
                
                h1 Links
                ul.nostyle
                    li #[span LinkedIn://] #[a(href="https://linkedin.com") ankitsultana]
                    li #[span Quora://] #[a(href="https://quora.com/Ankit-Sultana")Ankit-Sultana]
                
            .right-column
                h1 Sport Programming

        
