$color-three: #B1B1B1;
$color-four: #9F9F9F;
$link-color: #717171;
$text-color: #3E3E3E;
$text-size: 13px;

* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Raleway';
}
.clearfix {
    clear: both;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: 600;
}

ul.nostyle {
    list-style-type: none;
    padding: 0;
    li span {
        position: relative;
        left: -18px;
        margin: 0;
    }
    li a {
        margin-left: 0;
    }
}
ul.circle {
    span:before {
        content: "•";
        margin-right: 3px;
    }
}
.no-overlap {
    margin-bottom: 5px;
}
ul.inline {
    @extend .nostyle;
    list-style-type: none;
    span:before {
        content: "•";
        margin-right: 3px;
    }
    li span {
        float: left;
        display: inline-block;
        margin-top: -5px;
        margin-right: 3px;
        padding: 0;
    }
}

.heading {
    max-width: 700px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    h1 {
        font-size: 50px;
        font-family: 'Lato';
        font-weight: 300;
        span {
            font-weight: 100;
        }
    }
    h3 {
        font-family: 'Raleway';
        font-size: 14px;
        color: #6A6A6A;
        font-weight: 200;
    }
}
.content {
    width: 750px;
    margin: auto;
    h1 {
        text-transform: uppercase;
        margin-top: 8px;
        font-size: 20px;
        font-weight: 300;
        color: darken($color-four, 30);
        font-family: 'Lato';
    }
    h2 {
        font-size: 15px;
        font-weight: bolder;
        text-transform: uppercase;
        span {
            font-size: 13px;
            font-weight: 400;
        }
        font-family: 'Lato';
    }
    h3 {
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
    }
    h4 {
        font-size: 13px;
        font-weight: normal;
    }
}
li {
    font-family: 'Lato';
    font-weight: 300;
    color: #000;
}
.left-column {
    float: left;
    max-width: 35%;
    text-align: left;
    padding-left: 10px;
    margin-left: 20px;
    p {
        font-size: 12px;
        font-family: 'Lato';
        font-weight: 300;
    }
    p.lead {
        font-size: 13px;
        font-family: 'Raleway';
        font-weight: 400;
    }
    ul {
        padding: 0px 10px;
        margin-bottom: 10px;
    }
    li {
        span {
            position: relative;
            left: -9px;
        }
        padding-left: 10px;
        font-size: $text-size;
        margin-top: -2.9px;
    }
}
.right-column {
    float: right;
    width: 65%;
    text-align: left;
    padding: 0;
    h2 {
        font-family: 'Lato';
        span {
            font-size: 12px;
            font-family: 'Raleway';
            display: inline-block;
            font-weight: 500;
        }
        span::first-letter {
            font-size: 14px;
            font-weight: 500;
        }
    }
    h3 {
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    ul {
        padding: 0px 0px;
        padding-left: 20px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    ul li {
        span {
            position: relative;
            left: -5px;
        }
        span:before {
            content: "•";
            margin-left: 5px;
            margin-right: 5px;
            font-size: 14px;
        }
        font-size: $text-size;
    }
    p {
        font-family: 'Lato';
        font-size: $text-size;
        font-weight: 300;
    }
}
br {
    display: block;
    margin: 4px 0;
    content: " ";
}

.tester {
    li {
        margin-left: 5px;
    }
}
ol {
    padding: 0;
    font-size: $text-size;
    li span {
        font-size: $text-size;
    }
}
.publications-list {
    padding: 0;
    counter-reset: list;
}
.publications-list > li {
    list-style-position: none;
    position: relative;
    list-style: none;
    margin-left: 20px;
}
.publications-list > li:before {
    content: "[" counter(list, decimal) "]  ";
    counter-increment: list;
    position: absolute;;
    left: -20px;
}
#update-status {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: $text-size * 0.7;
    font-weight: 300;
}

/*
 * Table
 */

table {
    sup {
        padding: 0;
        margin-left: -3px;
    }
    padding: 0;
    font-family: 'Lato';
    font-weight: 300;
    border-collapse: separate;
    border-spacing: 0px;
    font-size: $text-size * 1.001;
    tr, th, td {
        padding: 0;
    }
    th:nth-child(1), td:nth-child(1) {
        margin: 0;
        padding-right: 10px;
    }
    th:nth-child(2), td:nth-child(2) {
        padding-right: 10px;
    }
    th:nth-child(3), td:nth-child(3) {
    }
}
